<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div>
                <form #userDetails="ngForm" (ngSubmit)="onSubmit(userDetails)">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" ngModel>
                    </div>
                    <div class="form-group my-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
