<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xs-12">
            <h2>Forgot your password ?</h2>
            <form #forgot="ngForm" (ngSubmit)="onSubmit(forgot)">
                <div class="form-group">
                    <label for="email" class="mt-4" style="display:block">Enter your email</label>
                    <input id="email" name="email" type="text" size="35" ngModel>
                </div>
                <div class="form-group my-4">
                    <button type="submit" class="btn btn-primary">Retrieve Your Password ></button>
                </div>
            </form>
        </div>
    </div>
</div>